
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Helvetica Neue', serif;
    font-weight: 100;
    color: darkgray;
}

#page-border {
    background: #f7f9fc;
    margin: auto;
	margin-top: 65px;
	max-width: 90%;
	max-height: 645px;
	box-shadow: 1px 1px 5px #bac8e0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

nav {
   position: fixed;
   height: 65px;
   top: 0;
   z-index: 2;
}

.nav {
	transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    width: 100%;
    padding-left: 0;
}

.name {
    margin: auto;
    margin-top: 27vh;
    line-height: 0.6;
    text-align: center;
    width: 100%;
}

.tag {
	margin: auto;
    margin-top: -12%;
    line-height: 0.6;
    text-align: center;
    width: 100%;

}

.projects {
	margin: auto;
	margin-top: 175px;
	margin-bottom: 60px;
	text-align: center;

}


span.beautiful {
	font-family: 'Signpainter', serif;
    font-size: 50px;
    background: url('images/blue.jpg');
    background-attachment: fixed;
    background-position: top center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    overflow: visible;
    padding: 12px;
}

.button {
    background-color: transparent;
    border-color: transparent;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 19vh;
    font-size: 50px;
}

a {
	text-decoration: none;
	color: darkblue;
    font-weight: lighter;
}

#arrow {
    color: darkgray;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    margin-top: -100px;
}

#arrow:hover {
    color: darkblue;
    margin-top: -75px;
}

.left, .right {
	width: 44%;
}

.left {
	font-size: 2em;
	text-align: left;
	margin-top: 0.9%;
	margin-left: 5.5%;
}

.right {
	font-size: 2.5em;
	text-align: right;
	margin-top: 0.5%;
	margin-right: 6.5%;
}

.colour {
    color: darkblue;
    transition: 0.2s;
}

.colour:hover {
    color: transparent;
	font-size: 1.1em;
    background: url('images/blue.jpg');
    background-attachment: fixed;
    background-position: top center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    transition: 0.2s;
}

.tinyLogo {
	height: 100%;
	margin: auto;
	position: absolute;
    margin-left: 38%;
}

.signature {
	max-width: 350px;
    margin: auto;
    margin-top: 8px;
    position: relative;
    overflow: auto;
    width: 100%;
    height: 0;
    padding-bottom: 20%;
}


svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

path {
    fill: none;
    stroke: #2a3745;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

@keyframes write1 {
    15% {
        stroke-dashoffset: 890;
    }
    40% {
        stroke-dashoffset: 0;
    }
}

@keyframes write2 {
    15%, 40% {
        stroke-dashoffset: 915;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.stroke-A {
    stroke-dasharray: 890;
    animation: write1 4s 1 linear;
}
 
.stroke-mber {
    stroke-dasharray: 915;
    animation: write2 5s 1 linear;
}



/* Hexagons!!!!*/

.hexagons {
	margin-bottom: 70px;
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: auto;
  padding-left: 0;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hex h1, .hex p {
  font-family: 'Signpainter', serif;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  color: darkblue;
  background-color: rgba(255, 255, 255, 0.45);
  font-weight: thin;
  -webkit-transition:  -webkit-transform .5s ease-out, opacity .5s ease-out;
          transition:          transform .5s ease-out, opacity .5s ease-out;
}
.hex h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
  -webkit-transform: translate3d(0,-100%,0);
      -ms-transform: translate3d(0,-100%,0);
          transform: translate3d(0,-100%,0);
}
.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

.hex img:hover {
    filter: opacity(0.4);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/


@media (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}
